<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">

<div class="card-body">


  <div class="row">
    <div class="col-md-12">
      <div class="card mt-3 tab-card">
        <div class="card-header tab-card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="one-tab" data-toggle="tab" role="tab" aria-controls="One" aria-selected="true">Comprar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="two-tab" data-toggle="tab" role="tab" aria-controls="Two" aria-selected="false">Rentar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="three-tab" data-toggle="tab" role="tab" aria-controls="Three" aria-selected="false">Invertir</a>
            </li>
          </ul>
        </div>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
        <div class="tab-content" id="myTabContent">
          

            <div class="row">
              <div class="col-md-9">
                  <div class="form-group ">
                      <input type="text" class="form-control" placeholder="Ingresa la direccion de tu proximo lugar.">
                  </div>
              </div>
              <div class="col-md-3">
                  <button type="button" class="btn-action btn-search pl-3 pr-3">Buscar</button>
              </div>
          </div>
  
          </div>
    </div>
  </div>
</div>   
</div> 