
<div class="container">
   <section class="search-banner text-white py-3 " id="search-banner">
      <div class="container py-5 my-5">

        <div class="row">
            <div class="col-md-12">

                <div class="card search-form">

                    <div class="card-body">
                        <div class="row">
                        <div class="col-md-12 ">
                            <h2 class="cat2h2"> Encuentra tu lugar ideal. </h2>
                        </div>
                            <!-- <div class="col-md-3">
                                <div class="form-group">
                                    <select id="filler" class="form-control" >
                                        <option selected>Comprar</option>
                                        <option>Rentar</option>
                                        <option>Invertir</option>
                                    </select>
                                </div>
                            </div> -->

                            <app-search-options></app-search-options>

                            <!-- <div class="col-md-8"> -->
                                <!-- <div class="form-group ">
                                    <select id="propertyType" class="form-control" >
                                        <option selected></option>
                                        <option>Departamento</option>
                                        <option>Casa</option>
                                        <option>Bodega</option>
                                        <option>Terreno</option>

                                    </select>
                                </div> -->
                            <!-- </div> -->
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-9">
                                <div class="form-group ">
                                    <input type="text" class="form-control" placeholder="Ingresa la direccion de tu proximo lugar.">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn-action btn-search pl-3 pr-3">Buscar</button>
                            </div>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>


        </div>
   </section>
</div>
