@{ ViewData["Title"] = "Vera"; }



@section DashboardCards
{
    <!-- 2nd Row: Card stats (only for dashboard) -->
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <h3 class="mb-2 font-weight-bold" style="color:white;"> <a>500 Casas en venta en Monterrey...</a> </h3>
        </div>

        <div class="col-xl-12 col-md-12">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Casas</h5>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                <i class="ni ni-chart-pie-35"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-7"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="h5 font-weight-bold mb-0">Ver 300 casas</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-12">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Depas</h5>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                <i class="ni ni-money-coins"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-7"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="h5 font-weight-bold mb-0">Ver 250 Depas</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-12">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Loft</h5>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                <i class="ni ni-chart-bar-32"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-7"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="h5 font-weight-bold mb-0">Ver 200 Lofts</span>

                    </p>
                </div>
            </div>
        </div>


        <div class="col-xl-12 col-md-12">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Casas</h5>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                <i class="ni ni-chart-pie-35"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-7"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="h5 font-weight-bold mb-0">Ver 300 casas</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-12">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Depas</h5>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                <i class="ni ni-money-coins"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-7"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="h5 font-weight-bold mb-0">Ver 250 Depas</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-12">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Loft</h5>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                <i class="ni ni-chart-bar-32"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-7"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="h5 font-weight-bold mb-0">Ver 200 Lofts</span>

                    </p>
                </div>
            </div>
        </div>


        <div class="col-xl-12 col-md-12">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Casas</h5>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                <i class="ni ni-chart-pie-35"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-7"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="h5 font-weight-bold mb-0">Ver 300 casas</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-12">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Depas</h5>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                <i class="ni ni-money-coins"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-7"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="h5 font-weight-bold mb-0">Ver 250 Depas</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-12">
            <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Loft</h5>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                <i class="ni ni-chart-bar-32"></i>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-7"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="h5 font-weight-bold mb-0">Ver 200 Lofts</span>

                    </p>
                </div>
            </div>
        </div>
    </div>

     
}

@section Search
{
    <partial name="_Search">
}

@*@section Breadcrumbs
    {
        <partial name="_Breadcrumbs"/>
    }*@
