<div class="footer">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-2 col-md-3 col-sm-12">
          <div class="footer-logo">
            <h2>Vera</h2>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <ul class="footer-menu">
            <li><a href="#main">About</a> </li>
            <li><a href="#main">Privacy</a> </li>
            <li><a href="#main">Terms</a> </li>
            <li><a href="#main">Contact</a> </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-12">
          <div class="footer-links">
            <ul>
              <li><a href="#main"> <img class="img-fluid" src="assets/icons/i1.png" alt="Icon"> </a> </li>
              <li><a href="#main"> <img class="img-fluid" src="assets/icons/i2.png" alt="Icon"> </a> </li>
              <li><a href="#main"> <img class="img-fluid" src="assets/icons/i3.png" alt="Icon"> </a> </li>
              <li><a href="#main"> <img class="img-fluid" src="assets/icons/i4.png" alt="Icon"> </a> </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Scroll To Top -->
        <a id="back-top" class="back-to-top js-scroll-trigger" href="#main"></a>
    <!-- Scroll To Top Ends-->
    </div>
  </div>