.firma-ara{
    padding-bottom: 100px;
    padding-top: 100px;
}
.form-plan{
    background-image: url(/assets/images/search-background.jpg);

        background-position: center;
        background-repeat: no-repeat;
        // background-size: cover;
        max-height: 500px;
}
.search-form{
    background: rgba(255, 255, 255, 0.938);
    border-radius: 10px;
 }
.siyah-cerceve{
    -webkit-text-fill-color: whitesmoke; 
} 

.btn-search{
    margin: 0 !important;
}
h4{float:left; width:100%; color:rgb(80, 80, 80); margin-bottom:40px; font-size: 14px; position:relative; z-index:3; margin-top:30px}
h4 span{
    font-family: 'Libre Baskerville', serif; 
    display:block; 
    font-size:35px;
    text-transform:none; 
    margin-bottom:20px;
    margin-top:30px; 
    font-weight:700; 
}
 